.collection-left {
    padding: 0.5rem;
}

.collection-left-search>.input-group {
    margin-top: 1rem;
}

.collection-left-search>.input-group>input {
    font-size: 0.8rem;
}

.collection-left-search>.btn-group {
    width: 100%;
    margin-top: 2rem;
}

.collection-left-search>.btn-group>button {
    font-size: 0.8rem;
    background-color: rgb(67, 67, 238) !important;
    color: white;
}

.collectionItem-accordion {
    margin-top: 2rem;
}

.dropdown-list {
    list-style: none;
    padding: 1rem;
    text-align: center;
    line-height: 2rem;
}

.dropdown-link {
    font-size: 0.9rem;
}

.dropdown-link:hover {
    color: blue;
    font-weight: bold;
}


.collection-right {
    padding-left: 1rem;
}

.collection-right-title {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    /*  */
}

.collection-right-title>div>h1 {
    font-weight: bold;
}

.collection-right-title>.btn-group {
    height: 2rem;
}

.collection-right-title>.btn-group>button {
    font-size: 0.8rem;
    background-color: rgb(67, 67, 238) !important;
}

.collection-right-images {
    margin-top: 1.5rem;
}

.card-collection:hover {
    cursor: pointer;
    box-shadow: 0 20px 20px 0 rgb(67, 67, 238);
    transition: all 0.5s ease-in-out;
}

.collection-next-btn {
    font-size: 0.7rem;
    background-color: transparent;
    color: black;
    border-color: white;
    font-weight: bold;
}

/* Collection item */
.collectionItem-items {
    display: flex;
    
}

.collectionItem-img,
.collectionItem-table {
    padding: 1rem;
}

.collectionItem-img>img {
    width: 100%;
    height: 32rem;
    object-fit: cover;
    border-radius: 2rem;
    cursor: pointer;
    
}

.collectionItem-table {
    align-self: center;
    text-align: center;
}

.collectionItem-table>h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;

}

.collectionItem-table>p {
    margin-top: 1.5rem;
    font-weight: bold;
}

.collectionItem-table>p>span {
    color: red;
}

.collectionItem-table-data {
    font-size: 0.9rem;
}

.collectionItem-tabs {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.collectionItem-description,
.collectionItem-reviews {
    margin-top: 1.5rem;
}

.collectionItem-description>h1,
.collectionItem-reviews>h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

.collectionItem-description>span {
    font-size: 1.3rem;
    font-weight: bold;
    color: grey;
    margin-top: 1rem;
}

.collectionItem-reviews>span {
    font-size: 0.8rem;
    color: grey;
}

.collectionItem-description>p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.collectionItem-reviews>p {
    margin-top: 1rem;
    font-weight: bold;
}

.collectionItem-reviews>form {
    padding-left: 5rem;
    padding-right: 5rem;
}

.collectionItem-reviews-form {
    display: flex;
    justify-content: center;
}

.collectionItem-reviews-form>div {
    padding: 0.5rem;
}

.collectionItem-reviews-form>div>input {
    border-radius: 1rem;
    background-color: rgb(207, 207, 207);
}

.collectionItem-reviews-feedback {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.collectionItem-reviews-feedback>div {
padding: 0.5rem;
}

.collectionItem-reviews-feedback>div>textarea {
    height: 10rem;
    background-color: rgb(207, 207, 207);
}

.collectionItem-reviews>form>div {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
    
}

.collectionItem-similar-products {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.collectionItem-similar-products>h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.active {
    font-weight: bold;
    color: red !important;
}

@media (min-width: 300px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}